/** CSS STYLE **/
:root{
   --color-white:#fff;
   --transparent-white:#d7ccc0;
   --color-light:#f5f4f0;
   --color-basis:#fe8a02;
   --color-dark:#2a2626;
   --transparerent-dark: #908d8b;
   --color-brown:#b09a81;
   --color-blue:#1085c5;
   --color-primary-dark:#42413C;
   --bg-basis-hover: #EA7600;
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   line-height: 1.6em;
   color:var(--color-dark);
}

h1, h2, h3, h4, h5, h6{
   font-family: 'Neucha', cursive;
   line-height: 1.2em;
}

h1{
   font-size: 72px;
}

h2{
   font-size: 60px;
}

h3{
   font-size: 34px;
}

a{
   text-decoration: none;
}

.btn{
   outline: none;
   border: none;
   background: transparent;
   cursor: pointer;
}

/* ================== color ================== */
.color-white{
   color: var(--color-white);
}

.color-primary{
    color:var(--color-basis);
}

.color-dark{
   color:var(--color-dark);
}

.color-brown{
   color:var(--color-brown)
}

.color-light{
   color: var(--color-light);
}

.color-primary-dark{
   color: var(--color-primary-dark);
}

.color-transparerent-dark{
   color: var(--transparerent-dark);
}

.color-transparent-white{
   color: var(--transparent-white);
}

.color-greey{
   color:#757575;
}

/* ================== background color================== */
.bg-brown{
   background-color:var(--color-brown);
}

.bg-white{
   background-color:var(--color-white);
}

.bg-yellow{
   background:var(--color-basis);
}

.bg-light{
   background-color: var(--color-light);
}

.bg-primary-dark{
   background: var(--color-primary-dark);
}

.bg-transparent{
   background: transparent;
}

/* ================== margin ================== */
.mt-10{
   margin-top: 10px;
}

.mt-15{
   margin-top: 15px;
}

.mt-20{
   margin-top: 20px;
}

.mt-27{
   margin-top: 27px;
}

.mt-30{
   margin-top: 30px;
}

.mt-35{
   margin-top: 35px;
}

.mt-40{
   margin-top: 40px;
}

.mt-45{
   margin-top: 45px;
}

.mt-50{
   margin-top: 50px;
}

.mt-60{
   margin-top: 60px;
}

.mt-100{
   margin-top:100px;
}

.mt-minus-100{
   margin-top: -100px;
}

.mt-185{
   margin-top:185px;
}

.mt-200{
   margin-top:200px;
}

.mb-10{
   margin-bottom:10px;
}

.mb-15{
   margin-bottom:15px;
}

.mb-20{
   margin-bottom:20px;
}

.mb-30{
   margin-bottom:30px;
}

.mb-40{
   margin-bottom:40px;
}

.ml-30{
   margin-left: 30px;
}

.mr-30{
   margin-right: 30px;
}

/* ================== padding ================== */
.pd-0{
   padding: 0;
}

.pt-5{
   padding-top: 5px;
}

.pt-10{
   padding-top: 10px;
} 

.pt-15{
   padding-top: 15px;
} 

.pt-20{
   padding-top: 20px;
} 

.pt-55{
   padding-top:55px;
}

.pt-100{
   padding-top:100px;
}

.pl-10{
   padding-left: 10px;
}

.pl-15{
   padding-left: 15px;
}

.pl-20{
   padding-left: 20px;
} 

.pl-55{
   padding-left: 55px;
}

.pb-5{
   padding-bottom: 5px;
}

.pb-10{
   padding-bottom: 10px;
} 

.pb-15{
   padding-bottom: 15px;
}

.pb-20{
   padding-bottom: 20px;
}

.pb-55{
   padding-bottom: 55px;
} 

.pb-100{
   padding-bottom:100px;
}

.pb-110{
   padding-bottom: 110px;
}

.pr-20{
   padding-right: 20px;
}

.pr-55{
   padding-right: 55px;
}

/* ================== link ================== */

.link{
   display: inline-block;
}

.yellow-link-hover:hover{
   background-color:var(--bg-basis-hover);
}

/* ================== button ================== */
.btn-yellow-hover:hover{
   background-color:var(--bg-basis-hover);
}

/* ================== text ================== */
.tt-upc{
   text-transform: uppercase;
}

.ta-center{
   text-align: center;
}

.f-weight-bold{
   font-weight: 700;
}

.f-weight-normal{
   font-weight: 400;
}

.fz-52{
   font-size: 52px;
}

/* ================== ================== */

.container{
   --size:1100px;
   max-width: var(--size);
   margin: 0px auto;
   position: relative;
}

/* ======= header ======= */
.header-bg{
   position: relative;
   overflow: hidden;
}

.header-bg::before{
   content: "";
   position: absolute;
   background-image:url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.img-block{
   position: absolute;
   top: -55px;
   right: -270px;
}

.inner-block {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}

.inner-text {
   width: 49%;
}

.inner-text p{
   line-height: 1.56;
}

/* section video */
.video-block{
   position: relative;
   overflow: hidden;
}

.video-title span{
   display: block;
}

.video-block-content {
   width: 919px;
   max-width: 100%;
   height: 569px;
   max-height: 100%;
   margin: 0px auto;
   position: relative;
   overflow: hidden;
   z-index: 9;
   filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video-iframe {
   width: 100%;
   height: 100%;
   
}

/* ======= navigation ======= */
.navigation{
   position: relative;
   z-index: 1;
}

.nav-block {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.nav-title{
   width: 350px;
   height: 325px;
}

.nav-item {
   width: 350px;
   height: 325px;
   display: block;
   background-color:var(--color-light);
   padding: 24px;
   cursor: pointer;
   transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
}

.number{
   display: block;
   font-size: 64px;
   line-height: 1;
   font-family: 'Neucha', cursive;
}

.item-sub-title{
   font-family: 'Neucha', cursive;
}

.item-hover:hover{
   background-color:var(--color-basis);
   transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
}

.item-hover:hover .number,
.item-hover:hover .item-sub-title,
.item-hover:hover .item-text{
   color:var(--color-white);
}


/* ======= ikea-effect ======= */
.heroy-bg{
   position: relative;
}

.heroy-bg::before{
   content:"";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image:url(../images/background.png);
   background-repeat:no-repeat;
}

.flex-block {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.block-img {
   max-width: 570px;
   filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.block-img img{
   width: 100%;
   vertical-align: middle;
}

.block-col-r{
   max-width: 500px;
}

.block-sub-title {
   font-family: Neucha;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
   display: block;
}

.block-text {
   font-family: Neucha;
   font-size: 34px;
   line-height: 41px;
}

.title-sm {
   font-family: Open Sans;
   font-size: 14px;
}

.flex-block-content{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.block-content{
   max-width: 540px;
}

/* ======= premature-optimization ======= */

.flex-block-revers {
   flex-direction: row-reverse;
}

.block-img-margin{
   margin-right: 0;
}

.block-cont-margin{
   margin-right: 0px;
}

.sub-title-white{
   color:var(--transparent-white);
}

.block-content > span{
   display: block;
}

/* ======= footer ======= */
.footer-inner {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.footer-inner-text{
   max-width: 390px;
}

.footer-inner-form {
   max-width: 390px;
}

.form-footer{
   display: flex;
   flex-direction: column;
}

.form-footer label{
   font-size: 18px;
}

.form-block {
   display: flex;
}

.form-block input{
   border: none;
   height: 50px;
   width: 320px;
}

::placeholder{
   font-family: Open Sans;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
   opacity: 0.2;
   color: #757575;
}

.btn-footer{
   background-image: url(../images/send.svg);
   background-position: center center;
   background-repeat: no-repeat;
   height: 50px;
   width: 70px;
}

.form-text{
   font-size: 12px;
   line-height: 20px;
}

.fom-link{
   text-decoration: underline;
}

.footer-bottom {
   text-align: center;
   font-size: 14px;
}

.footer-bottom-link{
   color:#007DC1;
   text-decoration: underline;
}
