/** CSS STYLE **/
:root{
   --color-white:#fff;
   --transparent-white:#d7ccc0;
   --color-light:#f5f4f0;
   --color-basis:#fe8a02;
   --color-dark:#2a2626;
   --transparerent-dark: #908d8b;
   --color-brown:#b09a81;
   --color-blue:#1085c5;
   --color-primary-dark:#42413C;

}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   line-height: 1.6em;
   color:var(--color-dark);
}

h1, h2, h3, h4, h5, h6{
   font-family: 'Neucha', cursive;
   line-height: 1.2em;
   font-weight: 400;
}

h1{
   font-size: 72px;
}

h2{
   font-size: 60px;
}

h3{
   font-size: 34px;
}

a{
   text-decoration: none;
}

.container{
   --size:1100px;
   max-width: var(--size);
   margin: 0px auto;
   position: relative;
}

.header{
   padding: 100px 0;
   background: var(--color-light);
}

.header-bg{
   position: relative; 
 }

 .header-bg::before{
   content:"";
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-image: url(../images/background.png);
   background-repeat: no-repeat;
   opacity: 0.06;
}

.header-img {
   position: absolute;
    max-height: 525px;
    max-width: 100%;
    top: -55px;
    right: -290px;
}

.header-img img{
   width: 100%;
}

.title{
   color:var(--color-basis);
   margin: 0;
   position: relative;
   z-index: 3;
}

.title > span{
   color: var(--color-dark);
}

.header-inner {
   display: flex;
   flex-wrap: wrap;
   margin-top: 200px;
}

.header-inner-text {
   max-width: 535px;
}

.header-inner-text:last-child{
   margin-left: 30px;
}

.header-inner-text p{
   margin-bottom: 10px;
}

.header-link{
   display: inline-block;
   margin-top: 30px;
   background:var(--color-basis);
   text-transform: uppercase;
   font-weight: 700;
   color:var(--color-white);
   padding: 12px 24px;
}

/* video */
.video-block{
   padding: 100px 0px 0px 0px;
   position: relative;
}

.video-title{
   color: var(--color-dark);
   text-align: center;
}

.video-title > span {
   display: block;
   color:var(--color-basis);
}

.sub-title {
    text-align: center;
    margin: 27px 0 30px;
}

.video-block-content {
   max-width: 919px;
   margin: 0px auto;
   position: relative;
   z-index: 9;
}

.video {
   margin: 0 auto;
   display: block;
   filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* navigation */
.navigation{
   background-color: var(--color-primary-dark);
   position: relative;
   z-index: 1;
   margin-top: -85px;
   padding-top: 100px;
   padding-bottom: 80px;
}

.card-block {
   display: flex;
   flex-wrap: wrap;
   margin-top: 100px;
   align-items: center;
   justify-content: space-between;
}

.card {
   width: 350px;
   height: 325px;
   display: block;
   background-color:var(--color-light);
   padding: 24px;
   cursor: pointer;
   margin-bottom: 20px;
   transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
}

.cart-opasity:hover{
   opacity: 0.7;
   box-shadow: 0px 0px 6px 6px var(--transparerent-dark);
   transition: all .5s ease;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   -ms-transition: all .5s ease;
   -o-transition: all .5s ease;
}

.card:first-child{
   background-color: transparent;
   padding: 0;
}

.card-title {
   font-size: 52px;
   line-height: 1.2;
   color: var(--color-basis);
   margin: 0;
}

.card-title > span {
   color:var(--color-white);
   display: block;
}

.number{
   display: block;
   margin-bottom: 40px;
   font-size: 64px;
   line-height: 1;
   color:var(--color-primary-dark);
   font-family: 'Neucha', cursive;
}

.card-sub-title{
   color:var(--color-basis);
   font-family: 'Neucha', cursive;
   font-size: 34px;
   line-height: 40px;
   margin: 0 0 12px 0;
}

.card-text{
   color:var(--color-dark);
   margin: 0;
}

/* ikea-effect */

.inner-block{
   position: relative;
   padding: 100px 0;
}
.inner-block-dark{
   background-color:var(--color-light);
}

.inner-bg::before{
   content:"";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-image:url(../images/background.png);
   background-repeat:no-repeat;
   opacity: 0.06;
}

.flex-block {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.block-img {
   max-width: 570px;
   filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
   margin-right: 30px;
}

.block-img > img{
   width: 100%;
   vertical-align: middle;
}

.inner-sub-title {
   font-family: Neucha;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
   display: block;
   color: var(--transparerent-dark);
}

.inner-title {
   color: var(--color-dark);
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 59px;
}

.block-text {
   max-width: 500px;
   font-family: Neucha;
   font-weight: normal;
   font-size: 34px;
   line-height: 41px;
}

.title-sm {
   font-family: Open Sans;
   color:var(--color-white);
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   margin: 100px 0 20px 0;
   padding: 5px 0 5px 10px;
   text-transform: uppercase;
}

.title-bg-brown{
   background-color:var(--color-brown);
}

.block-content{
   max-width: 530px;
}

.block-cont {
   max-width: 530px;
}

.block-content:first-child{
   margin-right: 30px;
}

.block-content > span{
   display: block;
   margin-bottom: 20px;
}

/* premature-optimization */

.inner-block-brown{
   background-color:var(--color-brown);
}

.flex-block-revers {
   flex-direction: row-reverse;
   color:var(--color-white);
}

.block-img-margin{
   margin-right: 0;
}

.block-cont-margin{
   margin-right: 0px;
}

.sub-title-white{
   color:var(--transparent-white);
}

.titile-color-white,
.block-text-white,
.block-content-white{
   color: var(--color-white);
}

.title-bg-white{
   background-color:var(--color-white);
   color: var(--color-brown);
}

/* footer */
.footer {
   padding: 100px 0 110px 0;
}

.footer-inner {
   padding: 55px 55px 40px 55px;
   background: #42413C;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.footer-inner-text {
   max-width: 393px;
}

.footer-inner-text > h3{
   font-weight: 400;
   color: var(--color-white);
}

.footer-inner-form{
   max-width:485px;
}

.form-footer label{
   display: block;
   color:var(--color-white);
   margin-bottom: 9px;
}

::placeholder{
   font-family: Open Sans;
   font-weight: 400;
   font-size: 13.1px;
   line-height: 1.6;
   opacity: 0.2;
   color: #757575;
}

.form-block{
   display: flex;
   justify-content: space-around;
   align-items:center;
}

.form-block > input{
   height: 50px;
   padding: 15px;
   width: 423px;
}

.btn-footer{
   width: 70px;
   height: 50px;
   background-color: var(--color-basis);
   position: relative;
   outline: none;
   border: none;
}

.btn-footer::before{
   content:url(../images/send.svg);
   width: 24px;
   height: 24px;
   position: absolute;
   top: 12px;
   left: 23px;
}

.form-text{
   font-size: 12px;
   line-height: 20px;
   color: var(--color-white);
}

.fom-link{
   font-size: 12px;
   line-height: 20px;
   color: var(--color-white);
   text-decoration: underline;
}

.fom-link:hover{
   color:var(--color-blue);
   opacity: 0.8;
   cursor: pointer;
}

.footer-bottom {
   text-align: center;
   margin-top: 75px;
}

.footer-copy{
   font-size: 14px;
}

.footer-bottom-text {
   font-size: 14px;
   margin: 16px 0;
}

.footer-bottom-link{
   color:#007DC1;
   text-decoration: underline;
   font-size: 14px;
}
